/*
0 - 600px :  Phone
600px - 900px :  Tablet portrait
900px - 1200px :  Tablet landscape
[1200px to 1800 px] is where our normal styles apply
1800px+  : Big desktops
*/
/*
Note : em and rem in media-queries are not affected by our root font-size setting. So, in scss till now we used to have 10px = 1rem = 62.5%. But that doesnt work now.
 - 1em or 1rem in the mediaquery is always equal to the root font size (coming from the browser which is 16px by default).
 - We are going to use em instead of rem here because rem in media-query fail to work in some of the browsers. So em is the best option for media query
 Let's calculate now knowing 1em = 16px
                             600px = 600/16 = 37.5em
                             900px = 900/16 = 56.25em
                             1200px = 1200/16 = 75em
                             1800px = 1800/16 = 112.5em

*/
/*
0 - 600px :  Phone
600px - 900px :  Tablet portrait
900px - 1200px :  Tablet landscape
[1200px to 1800 px] is where our normal styles apply
1800px+  : Big desktops
*/
/*
Note : em and rem in media-queries are not affected by our root font-size setting. So, in scss till now we used to have 10px = 1rem = 62.5%. But that doesnt work now.
 - 1em or 1rem in the mediaquery is always equal to the root font size (coming from the browser which is 16px by default).
 - We are going to use em instead of rem here because rem in media-query fail to work in some of the browsers. So em is the best option for media query
 Let's calculate now knowing 1em = 16px
                             600px = 600/16 = 37.5em
                             900px = 900/16 = 56.25em
                             1200px = 1200/16 = 75em
                             1800px = 1800/16 = 112.5em

*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0;
  box-sizing: inherit; }

html {
  /* root font-size */
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 2.2rem; }
  @media (max-width: 75em) {
    body {
      padding: 0.5rem; } }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.u-center-text {
  text-align: center; }

.u-padding-top-small {
  padding-top: 1.5rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 75em) {
    .u-margin-bottom-big {
      margin-bottom: 6rem; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media (max-width: 75em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }
  @media (max-width: 75em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem; } }
  @media (max-width: 37.5em) {
    .u-margin-bottom-small {
      margin-bottom: 0.3rem; } }

.align-center {
  text-align: center; }

.u-margin-left-small {
  margin-left: 1.5rem; }

.u-margin-left-medium {
  margin-left: 4.5rem; }
  @media (max-width: 75em) {
    .u-margin-left-medium {
      margin-left: 3.5rem; } }

.u-margin-left-huge {
  margin-left: 10.5rem; }
  @media (max-width: 75em) {
    .u-margin-left-huge {
      margin-left: 8.5rem; } }

.u-relative {
  position: relative; }

.u-medium-padding {
  padding: 2rem 4rem; }
  @media (max-width: 75em) {
    .u-medium-padding {
      padding: 1.5rem 3.5rem; } }
  @media (max-width: 37.5em) {
    .u-medium-padding {
      padding: 1.2rem 3.5rem !important; } }

.u-small-padding {
  padding: 0.5rem 5rem; }

.u-btn-width {
  width: 17rem; }

.heading-primary {
  letter-spacing: 0.7rem;
  font-size: 6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4rem;
  animation: movInLeft 2s ease;
  backface-visibility: hidden; }
  @media (max-width: 75em) {
    .heading-primary {
      letter-spacing: 0.4rem;
      font-size: 4rem; } }
  @media (max-width: 56.25em) {
    .heading-primary {
      letter-spacing: 0.3rem;
      font-size: 3.9rem; } }
  @media (max-width: 37.5em) {
    .heading-primary {
      letter-spacing: 0.2rem;
      font-size: 2.9rem; } }

.heading-primary-sub {
  letter-spacing: 0.2rem;
  font-size: 2rem;
  margin: auto;
  margin-bottom: 10rem;
  line-height: 5rem;
  animation: moveFromRight 2s ease; }
  @media (max-width: 75em) {
    .heading-primary-sub {
      font-size: 1.5rem; } }
  @media (max-width: 56.25em) {
    .heading-primary-sub {
      line-height: 4rem;
      font-size: 1.4rem; } }
  @media (max-width: 37.5em) {
    .heading-primary-sub {
      letter-spacing: 0.1rem;
      font-size: 1.3rem;
      width: 30rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #6fd5d5, #2888b4);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: 0; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 75em) {
    .heading-secondary {
      font-size: 3rem;
      letter-spacing: 0.3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.4rem;
      letter-spacing: 0.2rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
  @media (max-width: 75em) {
    .heading-tertiary {
      font-size: 1.3rem;
      letter-spacing: 0.06rem; } }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 1.2rem;
      letter-spacing: 0.06rem; } }

.paragraph {
  font-size: 1.8rem;
  line-height: 3.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
    @media (max-width: 37.5em) {
      .paragraph:not(:last-child) {
        margin-bottom: 2rem; } }
  @media (max-width: 75em) {
    .paragraph {
      font-size: 1.5rem; } }
  @media (max-width: 37.5em) {
    .paragraph {
      font-size: 1.2rem;
      line-height: 3.2rem; } }

@keyframes movInLeft {
  0% {
    opacity: 0;
    transform: translateX(-70rem); }
  75% {
    opacity: 1;
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-40rem); }
  75% {
    opacity: 1;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(40rem); }
  75% {
    opacity: 1;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  75% {
    opacity: 1;
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes animateHt {
  0% {
    transform: translate(0rem, 0rem); }
  25% {
    transform: translate(0rem, 37rem); }
  50% {
    transform: translate(30rem, 37rem); }
  75% {
    transform: translate(30rem, 0rem); }
  100% {
    transform: translate(0rem, 0rem); } }

@keyframes animateCs {
  0% {
    transform: translate(0rem, 0rem); }
  25% {
    transform: translate(-30rem, 0rem); }
  50% {
    transform: translate(-30rem, 37rem); }
  75% {
    transform: translate(0rem, 37rem); }
  100% {
    transform: translate(0rem, 0rem); } }

@keyframes animateJs {
  0% {
    transform: translate(0rem, 0rem); }
  25% {
    transform: translate(30rem, 0rem); }
  50% {
    transform: translate(30rem, -37rem); }
  75% {
    transform: translate(0rem, -37rem); }
  100% {
    transform: translate(0rem, 0rem); } }

@keyframes animateFb {
  0% {
    transform: translate(0rem, 0rem); }
  25% {
    transform: translate(0rem, -37rem); }
  50% {
    transform: translate(-30rem, -37rem); }
  75% {
    transform: translate(-30rem, 0rem); }
  100% {
    transform: translate(0rem, 0rem); } }

@keyframes animateRc {
  0% {
    transform: rotate(60deg); }
  25% {
    transform: rotate(120deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

@media (max-width: 75em) {
  @keyframes animateHt {
    0% {
      transform: translate(0rem, 0rem); }
    25% {
      transform: translate(0rem, 38rem); }
    50% {
      transform: translate(25.5rem, 38rem); }
    75% {
      transform: translate(25.5rem, 0rem); }
    100% {
      transform: translate(0rem, 0rem); } } }

@media (max-width: 75em) {
  @keyframes animateCs {
    0% {
      transform: translate(0rem, 0rem); }
    25% {
      transform: translate(-25.5rem, 0rem); }
    50% {
      transform: translate(-25.5rem, 38rem); }
    75% {
      transform: translate(0rem, 38rem); }
    100% {
      transform: translate(0rem, 0rem); } } }

@media (max-width: 75em) {
  @keyframes animateJs {
    0% {
      transform: translate(0rem, 0rem); }
    25% {
      transform: translate(25.5rem, 0rem); }
    50% {
      transform: translate(25.5rem, -38rem); }
    75% {
      transform: translate(0rem, -38rem); }
    100% {
      transform: translate(0rem, 0rem); } } }

@media (max-width: 75em) {
  @keyframes animateFb {
    0% {
      transform: translate(0rem, 0rem); }
    25% {
      transform: translate(0rem, -38rem); }
    50% {
      transform: translate(-25.5rem, -38rem); }
    75% {
      transform: translate(-25.5rem, 0rem); }
    100% {
      transform: translate(0rem, 0rem); } } }

@media (max-width: 56.25em) {
  @keyframes animateHt {
    0% {
      transform: translate(0rem, 0rem); }
    25% {
      transform: translate(0rem, 38.5rem); }
    50% {
      transform: translate(35rem, 38.5rem); }
    75% {
      transform: translate(35rem, 0rem); }
    100% {
      transform: translate(0rem, 0rem); } } }

@media (max-width: 56.25em) {
  @keyframes animateCs {
    0% {
      transform: translate(0rem, 0rem); }
    25% {
      transform: translate(-35rem, 0rem); }
    50% {
      transform: translate(-35rem, 38.5rem); }
    75% {
      transform: translate(0rem, 38.5rem); }
    100% {
      transform: translate(0rem, 0rem); } } }

@media (max-width: 56.25em) {
  @keyframes animateJs {
    0% {
      transform: translate(0rem, 0rem); }
    25% {
      transform: translate(35rem, 0rem); }
    50% {
      transform: translate(35rem, -38.5rem); }
    75% {
      transform: translate(0rem, -38.5rem); }
    100% {
      transform: translate(0rem, 0rem); } } }

@media (max-width: 56.25em) {
  @keyframes animateFb {
    0% {
      transform: translate(0rem, 0rem); }
    25% {
      transform: translate(0rem, -38.5rem); }
    50% {
      transform: translate(-35rem, -38.5rem); }
    75% {
      transform: translate(-35rem, 0rem); }
    100% {
      transform: translate(0rem, 0rem); } } }

/*
0 - 600px :  Phone
600px - 900px :  Tablet portrait
900px - 1200px :  Tablet landscape
[1200px to 1800 px] is where our normal styles apply
1800px+  : Big desktops
*/
/*
Note : em and rem in media-queries are not affected by our root font-size setting. So, in scss till now we used to have 10px = 1rem = 62.5%. But that doesnt work now.
 - 1em or 1rem in the mediaquery is always equal to the root font size (coming from the browser which is 16px by default).
 - We are going to use em instead of rem here because rem in media-query fail to work in some of the browsers. So em is the best option for media query
 Let's calculate now knowing 1em = 16px
                             600px = 600/16 = 37.5em
                             900px = 900/16 = 56.25em
                             1200px = 1200/16 = 75em
                             1800px = 1800/16 = 112.5em

*/
/*
0 - 600px :  Phone
600px - 900px :  Tablet portrait
900px - 1200px :  Tablet landscape
[1200px to 1800 px] is where our normal styles apply
1800px+  : Big desktops
*/
/*
Note : em and rem in media-queries are not affected by our root font-size setting. So, in scss till now we used to have 10px = 1rem = 62.5%. But that doesnt work now.
 - 1em or 1rem in the mediaquery is always equal to the root font size (coming from the browser which is 16px by default).
 - We are going to use em instead of rem here because rem in media-query fail to work in some of the browsers. So em is the best option for media query
 Let's calculate now knowing 1em = 16px
                             600px = 600/16 = 37.5em
                             900px = 900/16 = 56.25em
                             1200px = 1200/16 = 75em
                             1800px = 1800/16 = 112.5em

*/
.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(111, 213, 213, 0.8), rgba(40, 136, 180, 0.8)), url(/images/side_bg.jpg);
  background-size: cover;
  /* fits completely*/
  background-position: top; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    color: #ffffff;
    padding: 2rem;
    width: 57%; }
    @media (max-width: 56.25em) {
      .header__text-box {
        width: 80%; } }
    @media (max-width: 37.5em) {
      .header__text-box {
        width: 100%; } }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
    margin: 5rem;
    animation: moveFromTop 2s ease; }
    @media (max-width: 56.25em) {
      .header__logo-box {
        top: 0.3rem;
        left: 0.3rem;
        margin: 2rem; } }
    @media (max-width: 37.5em) {
      .header__logo-box {
        top: 0.6rem;
        left: 0.6rem;
        margin: 1.5rem; } }
  .header__logo {
    height: 10rem; }
    @media (max-width: 56.25em) {
      .header__logo {
        height: 7rem; } }
    @media (max-width: 37.5em) {
      .header__logo {
        height: 5rem; } }

.btn {
  display: inline-block;
  position: relative; }
  .btn--animate {
    animation: moveFromBottom 2s ease; }
  .btn--white--card {
    width: 17rem; }
    @media (max-width: 75em) {
      .btn--white--card {
        width: 15rem; } }
    .btn--white--card:last-child {
      margin-top: 1.3rem; }
  .btn, .btn:link, .btn:visited {
    margin-bottom: 2rem;
    text-decoration: none;
    border-radius: 10rem;
    transform: translateY(0px);
    font-size: 1.5rem;
    transition: all 0.4s;
    border: none;
    cursor: pointer; }
    @media (max-width: 75em) {
      .btn, .btn:link, .btn:visited {
        font-size: 1.14rem; } }
    @media (max-width: 37.5em) {
      .btn, .btn:link, .btn:visited {
        font-size: 1.1rem;
        padding: 0.2rem 2rem;
        margin-top: 2rem; } }
  .btn:hover {
    transform: translateY(-0.3rem); }
  .btn:active, .btn:focus {
    box-shadow: 0 0.5rem 1rem #000, 0.4;
    margin-bottom: 2rem;
    transform: translateY(0.2rem); }
  .btn--white:link, .btn--white:visited {
    background-color: #305a6d;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 0.4rem #000, 0.4;
    color: gray;
    font-weight: 700;
    letter-spacing: 0.1rem; }
    .btn--white:link:hover, .btn--white:visited:hover {
      background-color: #305a6d;
      color: white;
      font-weight: bold; }
  .btn--white--arrow:link::after, .btn--white--arrow:visited::after {
    display: inline-block;
    content: "\2192";
    width: 2rem;
    padding: 0 0.2rem;
    font-size: 1.2rem; }
    @media (max-width: 37.5em) {
      .btn--white--arrow:link::after, .btn--white--arrow:visited::after {
        display: none; } }
  .btn--white--arrow:link:hover::after, .btn--white--arrow:visited:hover::after {
    content: "\2193";
    width: 2rem; }
    @media (max-width: 37.5em) {
      .btn--white--arrow:link:hover::after, .btn--white--arrow:visited:hover::after {
        display: none; } }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c5a9;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #55c5a9;
  transition: all 0.7s; }
  @media (max-width: 37.5em) {
    .btn-text:link, .btn-text:visited {
      font-size: 1.3rem;
      display: block;
      width: fit-content;
      margin: 3rem auto 0 auto; } }

.btn-text:hover {
  background-color: #55c5a9;
  color: #ffffff;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0rem); }

.skills-container {
  position: relative;
  width: 100%;
  height: 67rem;
  margin-left: 0rem;
  text-align: center;
  background-color: #212929;
  box-shadow: 0 2rem 4rem;
  border-radius: 20%;
  margin-top: 2rem; }
  @media (max-width: 75em) {
    .skills-container {
      border-radius: 10%;
      height: 60rem;
      margin-left: 1.5rem;
      margin-top: 2.5rem; } }
  @media (max-width: 56.25em) {
    .skills-container {
      height: 60rem;
      border-radius: 2%;
      width: 50rem;
      margin: auto;
      margin-top: 2rem; } }
  @media (max-width: 37.5em) {
    .skills-container {
      height: 40rem;
      border-radius: 2%;
      width: 90%;
      margin: auto;
      margin-top: 2rem; } }
  .skills-container--name {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase; }
    @media (max-width: 75em) {
      .skills-container--name {
        font-size: 1.3rem;
        margin-top: 0.8rem; } }
  .skills-container__skill {
    position: absolute;
    color: #f7f7f7;
    padding: 3rem 3rem 2rem 3rem;
    border-radius: 50%; }
    @media (max-width: 75em) {
      .skills-container__skill {
        padding: 1rem; } }
  .skills-container--ht {
    top: 4rem;
    left: 4rem;
    animation: animateHt 40s linear infinite;
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .skills-container--ht {
        animation: none;
        top: 2rem;
        left: 2rem; } }
  .skills-container--cs {
    top: 4rem;
    right: 4rem;
    animation: animateCs 40s linear infinite;
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .skills-container--cs {
        animation: none;
        top: 2rem;
        right: 2rem; } }
  .skills-container--js {
    top: 40rem;
    left: 4rem;
    animation: animateJs 40s linear infinite;
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .skills-container--js {
        animation: none;
        top: 27rem;
        left: 1rem; } }
  .skills-container--fb {
    top: 40rem;
    right: 4rem;
    animation: animateFb 40s linear infinite;
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .skills-container--fb {
        animation: none;
        top: 27rem;
        right: 2rem; } }
  .skills-container--rc {
    top: 20rem;
    left: 33.33%;
    transition: all 7s;
    backface-visibility: hidden; }
    @media (max-width: 75em) {
      .skills-container--rc {
        top: 22rem;
        left: 36%; } }
    @media (max-width: 37.5em) {
      .skills-container--rc {
        top: 12rem;
        left: 32%; } }
  .skills-container .skills__photo {
    font-size: 6rem; }
    @media (max-width: 75em) {
      .skills-container .skills__photo {
        font-size: 5rem; } }
    .skills-container .skills__photo--ht {
      color: #ff673d; }
    .skills-container .skills__photo--cs {
      color: #2ebbf3; }
    .skills-container .skills__photo--fb {
      color: #f7c52b; }
    .skills-container .skills__photo--js {
      color: #52f2f7; }
    .skills-container .skills__photo--rc {
      font-size: 12rem;
      color: #5fd3f3;
      animation: animateRc 40s infinite;
      backface-visibility: hidden; }
      @media (max-width: 75em) {
        .skills-container .skills__photo--rc {
          font-size: 10rem; } }
      @media (max-width: 37.5em) {
        .skills-container .skills__photo--rc {
          font-size: 10rem;
          animation: animateRc 20s infinite; } }

.profile {
  position: relative;
  width: 24rem;
  height: 24rem;
  margin: 2rem auto;
  margin-bottom: -2rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%); }
  @media (max-width: 75em) {
    .profile {
      width: 22rem;
      height: 22rem; } }
  @media (max-width: 56.25em) {
    .profile {
      width: 20rem;
      height: 20rem; } }
  @media (max-width: 37.5em) {
    .profile {
      width: 15rem;
      height: 15rem; } }
  .profile__photo {
    transform: translate(0rem, -2rem);
    width: 24rem;
    height: 30rem; }
    @media (max-width: 75em) {
      .profile__photo {
        transform: translate(0rem, -2rem);
        width: 22rem;
        height: 28rem; } }
    @media (max-width: 56.25em) {
      .profile__photo {
        transform: translate(0rem, -3rem);
        width: 20rem;
        height: 26rem; } }
    @media (max-width: 37.5em) {
      .profile__photo {
        transform: translate(0rem, -3rem);
        width: 15rem;
        height: 22rem; } }
  .profile__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.2rem;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    opacity: 0;
    transition: all 0.5s;
    transform: translate(-50%, 40%);
    backface-visibility: hidden; }
  .profile:hover .profile__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .profile:hover .profile__photo {
    filter: blur(0.5rem) brightness(80%); }

.text-icon {
  position: absolute;
  color: green;
  font-size: 3rem;
  margin-left: 1rem; }
  @media (max-width: 37.5em) {
    .text-icon {
      font-size: 2rem;
      margin-left: 1rem; } }

.card {
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  border-radius: 3px;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all 0.8s ease;
    color: #ffffff;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    width: 100%; }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #c26cb7, #9c2292); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #6fd5d5, #2888b4); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #ffce93, #b89413); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-5 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-6 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: saturation; }
    @media (max-width: 56.25em) {
      .card__picture {
        height: 27rem; } }
    @media (max-width: 37.5em) {
      .card__picture {
        height: 20rem; } }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(156, 34, 146, 0.8), rgba(194, 108, 183, 0.8)), url(/images/netflix-img.jpeg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(40, 136, 180, 0.8), rgba(111, 213, 213, 0.8)), url(/images/word-game.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(184, 148, 19, 0.8), rgba(255, 206, 147, 0.8)), url(/images/burger.jpg); }
    .card__picture--4 {
      background-image: linear-gradient(to right bottom, rgba(255, 119, 48, 0.8), rgba(255, 185, 0, 0.8)), url(/images/memory.jpg); }
    .card__picture--5 {
      background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8)), url(/images/nature.jpg); }
    .card__picture--6 {
      background-image: linear-gradient(to right bottom, rgba(86, 67, 250, 0.8), rgba(41, 152, 255, 0.8)), url(/images/chat.png); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 12rem;
    right: 3rem;
    text-align: right;
    width: 65%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span-1 {
      background-image: linear-gradient(to right bottom, #c26cb7, #9c2292); }
    .card__heading-span-2 {
      background-image: linear-gradient(to right bottom, #6fd5d5, #2888b4); }
    .card__heading-span-3 {
      background-image: linear-gradient(to right bottom, #ffce93, #b89413); }
    .card__heading-span-4 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__heading-span-5 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .card__heading-span-6 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card__details {
    color: black;
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 1.1rem auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.1rem solid #ffffff; }
  .card__cta {
    position: absolute;
    padding: 12%;
    line-height: 4rem; }
    .card__cta__desc {
      letter-spacing: 1px; }
    .card__cta__btn-container {
      margin: 4rem; }
  .card__cta__icon {
    position: absolute;
    font-size: 2rem;
    top: 1.6rem;
    left: 2rem; }
    .card__cta__icon--rotate {
      transform: rotate(45deg); }
  @media (max-width: 75em) {
    .card {
      height: auto;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      width: 100%; }
      .card__side {
        position: relative;
        height: auto; }
        .card__side--back {
          transform: rotateY(0); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card:hover .card__side--back {
        transform: rotateY(0); }
      .card__heading {
        font-size: 2.2rem; }
      .card__details {
        padding: 0.2rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        padding: 7%;
        line-height: 3rem;
        font-size: 1.4rem; }
        .card__cta__desc {
          letter-spacing: 0.7px; }
        .card__cta__btn-container {
          text-align: center;
          margin: 2rem 0 0 0; }
      .card__cta__icon {
        position: absolute;
        font-size: 1.6rem;
        top: 1rem;
        left: 2rem; }
        .card__cta__icon--rotate {
          transform: rotate(45deg); } }
  @media (max-width: 56.25em) {
    .card {
      width: 70%;
      margin: auto; }
      .card__heading {
        font-size: 2.3rem;
        font-weight: 300;
        text-transform: uppercase;
        color: #ffffff;
        position: absolute;
        top: 18rem;
        right: 3rem;
        text-align: right;
        width: 33%; }
      .card__cta {
        font-size: 1.3rem; }
        .card__cta__desc {
          letter-spacing: 0.7px; }
        .card__cta__btn-container {
          text-align: center;
          margin: 3rem 0 0 0; }
      .card__cta__icon {
        position: absolute;
        font-size: 1.6rem;
        top: 1rem;
        left: 2rem; }
        .card__cta__icon--rotate {
          transform: rotate(45deg); } }
  @media (max-width: 37.5em) {
    .card {
      width: 100%; }
      .card__heading {
        font-size: 2rem;
        top: 12rem;
        right: 2rem;
        width: 50%; }
      .card__details ul li {
        font-size: 1.3rem; }
      .card__heading-span {
        padding: 1rem 1rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; }
      .card__cta {
        font-size: 1.3rem; }
        .card__cta__desc {
          letter-spacing: 0.7px; }
        .card__cta__btn-container {
          text-align: center;
          margin: 1rem 0 0 0; }
      .card__cta__icon {
        position: absolute;
        font-size: 1.3rem;
        top: 1.1rem;
        left: 2rem; }
        .card__cta__icon--rotate {
          transform: rotate(45deg); } }

.contact-form {
  background-image: linear-gradient(156deg, #f7f7f7 2%, rgba(111, 213, 213, 0.4) 60%, rgba(40, 136, 180, 0.4) 80%);
  border-radius: 2px;
  padding: 3rem;
  box-shadow: 0 2rem 4rem; }
  @media (max-width: 75em) {
    .contact-form {
      margin-bottom: 14rem;
      border-radius: 1.5px;
      width: 45rem; } }
  @media (max-width: 56.25em) {
    .contact-form {
      border-radius: 1.5px;
      width: 80%;
      margin: 2.5rem auto; } }
  @media (max-width: 37.5em) {
    .contact-form {
      border-radius: 0px;
      width: 100%;
      margin: 1.5rem auto;
      padding: 2rem; } }
  .contact-form__group {
    margin-bottom: 2rem; }
  .contact-form__group:first-child {
    margin-top: 4rem; }
  .contact-form__input, .contact-form__text {
    font-family: inherit;
    border: none;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    width: 90%;
    display: block;
    margin: auto;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.6s; }
    @media (max-width: 37.5em) {
      .contact-form__input, .contact-form__text {
        width: 100%;
        font-size: 1.2rem;
        padding: 1rem 1.1rem; } }
  .contact-form::-webkit-input-placeholder {
    color: #999; }
  .contact-form__text {
    resize: none; }
  .contact-form__input:focus, .contact-form__text:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 0.3rem solid #55c5a9; }
  .contact-form__input:focus:invalid, .contact-form__text:focus:invalid {
    border-bottom: 0.3rem solid #212929;
    border-bottom: 0.3rem solid orangered; }
  .contact-form__label {
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 4.4rem;
    transition: all 0.3s;
    transform: translateY(0); }
  .contact-form__input:placeholder-shown + .contact-form__label,
  .contact-form__text:placeholder-shown + .contact-form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem); }
  .contact-form__btn {
    padding: 2rem 6rem;
    margin: 0 auto;
    position: relative;
    line-height: 1.2rem;
    margin-left: 2rem;
    letter-spacing: 0.4px;
    background-color: #407790;
    color: white; }
    @media (max-width: 37.5em) {
      .contact-form__btn {
        margin-left: 1rem;
        padding: 1rem 4.5rem; } }
    .contact-form__btn:hover {
      background-color: #305a6d;
      color: white;
      font-weight: bold; }
    .contact-form__btn__icon {
      position: absolute;
      top: 1.9rem;
      left: 3rem;
      font-size: 1.2rem; }
      @media (max-width: 37.5em) {
        .contact-form__btn__icon {
          top: 1rem;
          left: 2rem; } }

.contact-box {
  border-radius: 3px;
  background-image: linear-gradient(156deg, #f7f7f7 1%, rgba(111, 213, 213, 0.4) 60%, rgba(40, 136, 180, 0.4) 80%);
  box-shadow: 0 2rem 4rem;
  width: 30rem;
  margin: 50% 20%; }
  @media (max-width: 56.25em) {
    .contact-box {
      margin: 1% auto 12% auto; } }
  @media (max-width: 37.5em) {
    .contact-box {
      margin: 0% auto 15% auto; } }
  .contact-box__paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 2rem;
    text-align: left;
    font-weight: 400;
    position: relative;
    padding: 2rem 3rem;
    color: #212929; }
    @media (max-width: 37.5em) {
      .contact-box__paragraph {
        font-size: 1.2rem;
        margin: 1.2rem; } }
    .contact-box__paragraph__icon {
      position: absolute;
      top: 2;
      left: 0;
      font-size: 1.6rem;
      margin-top: 0.4rem; }

.contact__heading {
  text-align: center; }

.section-about {
  padding: 6rem 0;
  background-color: #f7f7f7; }
  @media (max-width: 75em) {
    .section-about {
      padding: 4rem 2.5rem; } }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 3rem 4rem; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 2.5rem 2rem; } }

.section-projects {
  padding: 6rem 0; }
  @media (max-width: 75em) {
    .section-projects {
      padding: 1rem 3rem; } }
  @media (max-width: 56.25em) {
    .section-projects {
      padding: 4rem 4rem; } }
  @media (max-width: 56.25em) {
    .section-projects {
      padding: 2.5rem 2rem; } }

.section-contact {
  background-color: #f7f7f7; }
  @media (max-width: 75em) {
    .section-contact {
      padding: 1rem 2.5rem; } }
  @media (max-width: 56.25em) {
    .section-contact {
      padding: 4rem 3rem; } }
  @media (max-width: 37.5em) {
    .section-contact {
      padding: 2rem 2rem; } }

.heading-primary {
  letter-spacing: 0.7rem;
  font-size: 6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4rem;
  animation: movInLeft 2s ease;
  backface-visibility: hidden; }
  @media (max-width: 75em) {
    .heading-primary {
      letter-spacing: 0.4rem;
      font-size: 4rem; } }
  @media (max-width: 56.25em) {
    .heading-primary {
      letter-spacing: 0.3rem;
      font-size: 3.9rem; } }
  @media (max-width: 37.5em) {
    .heading-primary {
      letter-spacing: 0.2rem;
      font-size: 2.9rem; } }

.heading-primary-sub {
  letter-spacing: 0.2rem;
  font-size: 2rem;
  margin: auto;
  margin-bottom: 10rem;
  line-height: 5rem;
  animation: moveFromRight 2s ease; }
  @media (max-width: 75em) {
    .heading-primary-sub {
      font-size: 1.5rem; } }
  @media (max-width: 56.25em) {
    .heading-primary-sub {
      line-height: 4rem;
      font-size: 1.4rem; } }
  @media (max-width: 37.5em) {
    .heading-primary-sub {
      letter-spacing: 0.1rem;
      font-size: 1.3rem;
      width: 30rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #6fd5d5, #2888b4);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: 0; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 75em) {
    .heading-secondary {
      font-size: 3rem;
      letter-spacing: 0.3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.4rem;
      letter-spacing: 0.2rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
  @media (max-width: 75em) {
    .heading-tertiary {
      font-size: 1.3rem;
      letter-spacing: 0.06rem; } }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 1.2rem;
      letter-spacing: 0.06rem; } }

.paragraph {
  font-size: 1.8rem;
  line-height: 3.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
    @media (max-width: 37.5em) {
      .paragraph:not(:last-child) {
        margin-bottom: 2rem; } }
  @media (max-width: 75em) {
    .paragraph {
      font-size: 1.5rem; } }
  @media (max-width: 37.5em) {
    .paragraph {
      font-size: 1.2rem;
      line-height: 3.2rem; } }

/*
0 - 600px :  Phone
600px - 900px :  Tablet portrait
900px - 1200px :  Tablet landscape
[1200px to 1800 px] is where our normal styles apply
1800px+  : Big desktops
*/
/*
Note : em and rem in media-queries are not affected by our root font-size setting. So, in scss till now we used to have 10px = 1rem = 62.5%. But that doesnt work now.
 - 1em or 1rem in the mediaquery is always equal to the root font size (coming from the browser which is 16px by default).
 - We are going to use em instead of rem here because rem in media-query fail to work in some of the browsers. So em is the best option for media query
 Let's calculate now knowing 1em = 16px
                             600px = 600/16 = 37.5em
                             900px = 900/16 = 56.25em
                             1200px = 1200/16 = 75em
                             1800px = 1800/16 = 112.5em

*/
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
      @media (max-width: 75em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 8rem; } }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *8rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *8rem) / 4); }
  .row .col-2-of-3 {
    width: calc( (2 * (100% - 2 *8rem) / 3) + 8rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 *8rem) / 4) + 8rem); }
  .row .col-3-of-4 {
    width: calc( (3 * ((100% - 3 *8rem) / 4)) + 2 *8rem); }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.contact-background {
  background-image: linear-gradient(156deg, #f7f7f7 20%, rgba(111, 213, 213, 0.4) 60%, rgba(40, 136, 180, 0.4) 80%);
  width: 100%;
  padding-top: 6rem; }
  @media (max-width: 75em) {
    .contact-background {
      padding-top: 4rem; } }
  @media (max-width: 56.25em) {
    .contact-background {
      padding-top: 0rem; } }

.footer {
  background-color: #333;
  padding: 5rem 0 0 0;
  color: #f7f7f7;
  z-index: 10; }
  @media (max-width: 75em) {
    .footer {
      padding: 3rem 0; } }
  @media (max-width: 56.25em) {
    .footer {
      padding: 2rem 2rem; } }
  .footer__container {
    position: relative; }
  .footer__navigation {
    margin-bottom: 8rem;
    display: inline-block;
    margin: auto;
    width: 100%; }
    @media (max-width: 75em) {
      .footer__navigation {
        margin-top: 2rem; } }
  .footer__list {
    list-style: none;
    margin: auto; }
  .footer__item {
    font-size: 1.6rem;
    display: inline-block;
    text-align: center; }
    .footer__item:not(:last-child) {
      margin-right: 6rem; }
    @media (max-width: 75em) {
      .footer__item {
        font-size: 1.4rem; } }
    @media (max-width: 56.25em) {
      .footer__item {
        font-size: 1.2rem; }
        .footer__item:not(:last-child) {
          margin-right: 4rem; }
        .footer__item:not(:first-child) {
          margin-top: 2rem; } }
    @media (max-width: 37.5em) {
      .footer__item {
        font-size: 1.23rem;
        display: block; }
        .footer__item:not(:last-child) {
          margin-right: 0rem; } }
  .footer__link:visited, .footer__link:link {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    letter-spacing: 1px; }
  .footer__link:hover, .footer__link:active {
    color: #55c5a9;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__icon {
    margin: -0.4rem 0.5rem 0 0;
    vertical-align: middle; }
    @media (max-width: 37.5em) {
      .footer__icon {
        margin: -0.2rem 1rem 0 0; } }
  .footer__copyright {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    letter-spacing: 0.7px; }
    @media (max-width: 75em) {
      .footer__copyright {
        font-size: 1.15rem; } }
    @media (max-width: 56.25em) {
      .footer__copyright {
        font-size: 1rem; } }
  .footer__arrow {
    display: inline-block;
    background: powderblue;
    transform: translateY(-7rem); }
    @media (max-width: 75em) {
      .footer__arrow {
        transform: translateY(-5rem); } }
    .footer__arrow__icon {
      font-size: 5rem;
      color: #2888b4;
      cursor: pointer; }
      @media (max-width: 75em) {
        .footer__arrow__icon {
          font-size: 4rem; } }
