*,
*::after,
*::before {
  margin: 0px;
  padding: 0;
  box-sizing: inherit; }

html {
  /* root font-size */
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 0.2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.align-center {
  text-align: center; }

.heading-primary {
  letter-spacing: 5px;
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4rem;
  animation: movInLeft 2s ease;
  backface-visibility: hidden; }

.heading-primary-sub {
  letter-spacing: 0.15rem;
  font-size: 1.8rem;
  max-width: 40rem;
  margin: auto;
  margin-bottom: 5rem;
  line-height: 4rem;
  animation: moveFromRight 2s ease; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #099e16, #712da8);
  display: inline-block; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #099e16, #712da8);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: 0; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }

.paragraph {
  font-size: 1.8rem;
  line-height: 3.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

@keyframes movInLeft {
  0% {
    opacity: 0;
    transform: translateX(-70rem); }
  75% {
    opacity: 1;
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-40rem); }
  75% {
    opacity: 1;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(40rem); }
  75% {
    opacity: 1;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  75% {
    opacity: 1;
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes animateHt {
  0% {
    transform: translate(0, 4rem); }
  25% {
    transform: translate(0, 30rem); }
  50% {
    transform: translate(30rem, 30rem); }
  75% {
    transform: translate(30rem, -0.2rem); }
  100% {
    transform: translate(0, 0); } }

@keyframes animateCs {
  0% {
    transform: translate(-4rem, 0); }
  25% {
    transform: translate(-30rem, 0); }
  50% {
    transform: translate(-30rem, 30rem); }
  75% {
    transform: translate(0rem, 30rem); }
  100% {
    transform: translate(0, 0); } }

@keyframes animateJs {
  0% {
    transform: translate(4rem, 0); }
  25% {
    transform: translate(30rem, 0); }
  50% {
    transform: translate(30rem, -30rem); }
  75% {
    transform: translate(0, -30rem); }
  100% {
    transform: translate(0); } }

@keyframes animateFb {
  0% {
    transform: translate(0, -4rem); }
  25% {
    transform: translate(0rem, -30rem); }
  50% {
    transform: translate(-30rem, -30rem); }
  75% {
    transform: translate(-30rem, 0rem); }
  100% {
    transform: translate(0); } }

@keyframes animateRc {
  0% {
    transform: rotate(60deg); }
  25% {
    transform: rotate(120deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #712da8, rgba(9, 158, 22, 0.6)), url(../images/header_bg_2.jpg);
  background-size: cover;
  background-position: top; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    color: #ffffff;
    padding: 5rem; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    margin: 5rem;
    animation: moveFromTop 2s ease; }
  .header__logo {
    height: 7rem; }

.btn {
  display: inline-block; }
  .btn:link, .btn:visited {
    margin-bottom: 2rem;
    text-decoration: none;
    padding: 2rem 4rem;
    border-radius: 10rem;
    transform: translateY(0px);
    font-size: 1.5rem;
    transition: all 0.4s; }
  .btn:hover {
    transform: translateY(-0.3rem); }
  .btn:active {
    box-shadow: 0 0.5rem 1rem #000, 0.4;
    margin-bottom: 2rem;
    transform: translateY(0.2rem); }
  .btn--orange:link, .btn--orange:visited {
    background-color: #ec7717;
    box-shadow: 0 0.5rem 0.4rem #000, 0.4;
    color: whitesmoke;
    font-weight: 700;
    letter-spacing: 0.1rem;
    animation: moveFromBottom 2s ease; }
    .btn--orange:link:hover, .btn--orange:visited:hover {
      background-color: #e7822e;
      font-weight: bold; }
    .btn--orange:link::after, .btn--orange:visited::after {
      display: inline-block;
      content: "\2192";
      width: 2rem;
      padding: 0 0.2rem;
      font-size: 1.2rem; }
    .btn--orange:link:hover::after, .btn--orange:visited:hover::after {
      content: "\2193";
      width: 2rem; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #284929;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #284929;
  padding: 0.3rem;
  transition: all 0.7s; }

.btn-text:hover {
  background-color: #284929;
  color: #ffffff;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0rem); }

.skills-container {
  position: relative;
  width: 100%;
  height: 60rem;
  margin-left: 4rem;
  text-align: center;
  background-color: #202022;
  border-radius: 30%;
  margin-top: 6rem; }
  .skills-container--name {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
    color: black;
    color: #fff;
    text-transform: uppercase; }
  .skills-container__skill {
    position: absolute;
    color: #f7f7f7;
    padding: 3rem 3rem 2rem 3rem;
    border-radius: 50%; }
  .skills-container--ht {
    top: 4rem;
    left: 4rem;
    animation: animateHt 9s ease; }
  .skills-container--cs {
    top: 4rem;
    right: 4rem;
    animation: animateCs 9s ease; }
  .skills-container--js {
    top: 35rem;
    left: 4rem;
    animation: animateJs 9s ease; }
  .skills-container--fb {
    top: 35rem;
    right: 4rem;
    animation: animateFb 9s ease; }
  .skills-container--rc {
    top: 17rem;
    left: 30%;
    transition: all 7s; }
  .skills-container .skills__photo {
    font-size: 10rem; }
    .skills-container .skills__photo--ht {
      color: #ff673d; }
    .skills-container .skills__photo--cs {
      color: #2ebbf3; }
    .skills-container .skills__photo--fb {
      color: #f7c52b; }
    .skills-container .skills__photo--js {
      color: #efd81a; }
    .skills-container .skills__photo--rc {
      font-size: 15rem;
      color: #5fd3f3;
      animation: animateRc 9s; }

.text-icon {
  color: green;
  font-size: 2rem;
  margin-left: 1rem; }

.profile {
  width: 24rem;
  height: 24rem;
  margin: 2rem auto;
  margin-bottom: -2rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%); }
  .profile__photo {
    transform: translate(0rem, -2rem);
    width: 24rem;
    height: 30rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 6rem 0; }

.heading-primary {
  letter-spacing: 5px;
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4rem;
  animation: movInLeft 2s ease;
  backface-visibility: hidden; }

.heading-primary-sub {
  letter-spacing: 0.15rem;
  font-size: 1.8rem;
  max-width: 40rem;
  margin: auto;
  margin-bottom: 5rem;
  line-height: 4rem;
  animation: moveFromRight 2s ease; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #099e16, #712da8);
  display: inline-block; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #099e16, #712da8);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: 0; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }

.paragraph {
  font-size: 1.8rem;
  line-height: 3.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( (2 * (100% - 2 *6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 *6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( (3 * ((100% - 3 *6rem) / 4)) + 2 *6rem); }
  .row::after {
    content: "";
    display: table;
    clear: both; }
