// $color-primary: #3c1053;
// $color-secondary: #ad5389;
$color-white: #ffffff;
$color-black: #000;

$color-primary-dark: #712da8;
$color-primary: #284929;
$color-primary-light: #099e16;
$color-secondary: #ec7717;
$color-secondary-light: #e7822e;
$color-grey: #777;
$color-grey-light-1: #f7f7f7;

$color-orange: #ff673d;
$color-blue: #2ebbf3;
$color-icon: green;

$default-font-size: 1.6rem;
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
