@import "../abstracts/mixins";

$color-white: #ffffff;
$color-black: #000;

$color-primary: #55c5a9;
$color-primary-light: #6fd5d5;
$color-primary-dark: #2888b4;

$color-secondary-dark: rgb(33, 41, 41);
$color-secondary: #305a6d;
$color-secondary-light: #60c7e0;

$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;

$color-tertiary-light: #c26cb7;
$color-tertiary-dark: #9c2292;

$color-burger-light: #d9e068;
$color-burger-dark: #b89413;

$color-burger-light: #ffce93;
$color-burger-dark: #b89413;

$color-memory-light: #ffb900;
$color-memory-dark: #ff7730;

$color-extreme-light: #2998ff;
$color-extreme-dark: #5643fa;

$color-nature-light: #7ed56f;
$color-nature-dark: #28b485;

$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-orange: #ff673d;
$color-blue: #2ebbf3;
$color-icon: green;
$color-about-section: rgba(231, 227, 233, 0.849);

$default-font-size: 1.6rem;
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 8rem;
$gutter-horizontal-small: 8rem;

// animation

$min-dist: 0rem;
$small-dist: 4rem;
$med-dist: 30rem;
$med-dist-2: 37rem;
$large-dist: 40rem;

$min-dist-tab-land: 0rem;
$small-dist-tab-land: 6rem;
$med-dist-tab-land: 25.5rem;
$med-dist-2-tab-land: 38rem;
$large-dist-tab-land: 41rem;

$min-dist-tab-port: 0rem;
$small-dist-tab-port: 6rem;
$med-dist-tab-port: 35rem;
$med-dist-2-tab-port: 38.5rem;
$large-dist-tab-port: 41rem;

//card

$card-height: 50rem;
