.btn {
  display: inline-block;
  position: relative;

  &--animate {
    animation: moveFromBottom 2s ease;
  }
  &--white--card {
    width: 17rem;

    &:last-child {
      margin-top: 1.3rem;
    }
  }
  &,
  &:link,
  &:visited {
    margin-bottom: 2rem;
    text-decoration: none;
    // padding: 2rem 4rem;
    border-radius: 10rem;
    transform: translateY(0px);
    font-size: 1.5rem;
    transition: all 0.4s;
    // changes for <button> element
    border: none;
    cursor: pointer;

    @include respond(tab-port) {
      font-size: 1.2rem;
      // display: none;
    }
    @include respond(phone) {
      font-size: 1rem;
      padding: 1.2rem 2rem;
    }
  }
  &:hover {
    transform: translateY(-0.3rem);
  }

  // focus is for <button> element and not for anchor tag
  &:active,
  &:focus {
    box-shadow: 0 0.5rem 1rem ($color-black, 0.4);
    margin-bottom: 2rem;
    transform: translateY(0.2rem);
  }

  &--white:link,
  &--white:visited {
    background-color: $color-secondary;
    background-color: $color-white;
    box-shadow: 0 0.5rem 0.4rem ($color-black, 0.4);
    // color: whitesmoke;
    color: gray;
    font-weight: 700;
    letter-spacing: 0.1rem;

    &:active {
      //   transform: translateY(1rem);
    }

    &:hover {
      background-color: $color-secondary;
      color: white;
      font-weight: bold;
    }
  }

  &--white--arrow:link,
  &--white--arrow:visited {
    &::after {
      display: inline-block;
      content: "\2192";
      width: 2rem;
      padding: 0 0.2rem;
      font-size: 1.2rem;

      @include respond(phone) {
        display: none;
      }
    }

    &:hover::after {
      content: "\2193";
      width: 2rem;
      @include respond(phone) {
        display: none;
      }
    }
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid $color-primary;
    transition: all 0.7s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0px 1rem 2rem rgba($color-black, 0.15);
    // we move it up a little on hover
    transform: translateY(-0.2rem);
  }
  &:active {
    box-shadow: 0px 0.5rem 1rem rgba($color-black, 0.15);
    // we move it down when clicked. Remember, it was lifted up by 0.2rem when hovered
    transform: translateY(0rem);
  }
}
