.card {
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  border-radius: 3px;
  height: $card-height;
  //   display: none;
  &__side {
    height: $card-height;
    transition: all 0.8s ease;
    color: $color-white;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    width: 100%;

    &--front {
      background-color: white;
    }

    &--back {
      transform: rotateY(-180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-burger-light,
          $color-burger-dark
        );
      }

      &-4 {
        background-image: linear-gradient(
          to right bottom,
          $color-memory-light,
          $color-memory-dark
        );
      }

      &-5 {
        background-image: linear-gradient(
          to right bottom,
          $color-nature-light,
          $color-nature-dark
        );
      }

      &-6 {
        background-image: linear-gradient(
          to right bottom,
          $color-extreme-light,
          $color-extreme-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // Front side
  &__picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: saturation;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-dark, 0.8),
          /* note that the hex color inside rgba works only for sass/scss and not for normal css*/
            rgba($color-tertiary-light, 0.8)
        ),
        url(/images/netflix-img.jpeg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-dark, 0.8),
          /* note that the hex color inside rgba works only for sass/scss and not for normal css*/
            rgba($color-primary-light, 0.8)
        ),
        url(/images/word-game.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-burger-dark, 0.8),
          /* note that the hex color inside rgba works only for sass/scss and not for normal css*/
            rgba($color-burger-light, 0.8)
        ),
        url(/images/burger.jpg);
    }

    &--4 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-memory-dark, 0.8),
          /* note that the hex color inside rgba works only for sass/scss and not for normal css*/
            rgba($color-memory-light, 0.8)
        ),
        url(/images/memory.jpg);
    }

    &--5 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-nature-dark, 0.8),
          /* note that the hex color inside rgba works only for sass/scss and not for normal css*/
            rgba($color-nature-light, 0.8)
        ),
        url(/images/nature.jpg);
    }

    &--6 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-extreme-dark, 0.8),
          /* note that the hex color inside rgba works only for sass/scss and not for normal css*/
            rgba($color-extreme-light, 0.8)
        ),
        url(/images/chat.png);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 3rem;
    text-align: right;
    width: 55%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &-1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 1),
        rgba($color-tertiary-dark, 1)
      );
    }

    &-2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 1),
        rgba($color-primary-dark, 1)
      );
    }

    &-3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-burger-light, 1),
        rgba($color-burger-dark, 1)
      );
    }

    &-4 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-memory-light, 1),
        rgba($color-memory-dark, 1)
      );
    }

    &-5 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-nature-light, 1),
        rgba($color-nature-dark, 1)
      );
    }

    &-6 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-extreme-light, 1),
        rgba($color-extreme-dark, 1)
      );
    }
  }

  &__details {
    color: black;
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 1.1rem auto;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 0.1rem solid $color-white;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    padding: 12%;
    line-height: 4rem;

    &__desc {
      letter-spacing: 1px;
    }
    &__btn-container {
      margin: 4rem;
    }
  }
  &__cta__icon {
    position: absolute;
    font-size: 2rem;
    top: 1.6rem;
    left: 2rem;
    &--rotate {
      transform: rotate(45deg);
    }
  }
}
