.profile {
  position: relative;
  width: 24rem;
  height: 24rem;
  margin: 2rem auto;
  margin-bottom: -2rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);

  @include respond(tab-land) {
    width: 22rem;
    height: 22rem;
  }
  @include respond(tab-port) {
    width: 20rem;
    height: 20rem;
  }
  @include respond(phone) {
    width: 15rem;
    height: 15rem;
  }

  &__photo {
    transform: translate(0rem, -2rem);
    width: 24rem;
    height: 30rem;
    @include respond(tab-land) {
      transform: translate(0rem, -2rem);
      width: 22rem;
      height: 28rem;
    }
    @include respond(tab-port) {
      transform: translate(0rem, -3rem);
      width: 20rem;
      height: 26rem;
    }
    @include respond(phone) {
      transform: translate(0rem, -3rem);
      width: 15rem;
      height: 22rem;
    }
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-white;
    transform: translate(
      -50%,
      -50%
    ); // this is for adjusting center of the text to center of container which is shape (this u have seen in header text)
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.2rem;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    opacity: 0;
    transition: all 0.5s;
    transform: translate(-50%, 40%);

    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__photo {
    filter: blur(0.5rem) brightness(80%);
  }
}
