.skills-container {
  position: relative;
  width: 100%;
  height: 67rem;
  margin-left: 4rem;
  text-align: center;
  // background-color: rgb(32, 32, 34);
  background-color: rgb(33, 41, 41);
  border-radius: 30%;
  margin-top: 2rem;

  &--name {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
  }
  &__skill {
    position: absolute;
    color: $color-grey-light-1;
    padding: 3rem 3rem 2rem 3rem;
    border-radius: 50%;
  }

  &--ht {
    top: $small-dist;
    left: $small-dist;
    animation: animateHt 40s linear infinite;
    backface-visibility: hidden;
  }
  &--cs {
    top: $small-dist;
    right: $small-dist;
    animation: animateCs 40s linear infinite;
    backface-visibility: hidden;
  }

  &--js {
    top: $large-dist;
    left: $small-dist;
    animation: animateJs 40s linear infinite;
    backface-visibility: hidden;
  }
  &--fb {
    top: $large-dist;
    right: $small-dist;
    animation: animateFb 40s linear infinite;
    backface-visibility: hidden;
  }
  &--rc {
    top: 20rem;
    left: 30%;
    transition: all 7s;
    backface-visibility: hidden;
  }

  .skills__photo {
    font-size: 10rem;

    &--ht {
      color: $color-orange;
    }

    &--cs {
      color: $color-blue;
    }

    &--fb {
      color: #f7c52b;
    }
    &--js {
      color: #52f2f7;
    }
    &--rc {
      font-size: 15rem;
      color: #5fd3f3;
      animation: animateRc 40s infinite;
    }
  }
}
