@keyframes movInLeft {
  0% {
    opacity: 0;
    transform: translateX(-70rem);
  }

  75% {
    opacity: 1;
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-40rem);
  }

  75% {
    opacity: 1;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(40rem);
  }

  75% {
    opacity: 1;
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  75% {
    opacity: 1;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateHt {
  0% {
    transform: translate(0, 4rem);
  }

  25% {
    transform: translate(0, 30rem);
  }

  50% {
    transform: translate(30rem, 30rem);
  }

  75% {
    transform: translate(30rem, -0.2rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes animateCs {
  0% {
    transform: translate(-4rem, 0);
  }

  25% {
    transform: translate(-30rem, 0);
  }

  50% {
    transform: translate(-30rem, 30rem);
  }

  75% {
    transform: translate(0rem, 30rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes animateJs {
  0% {
    transform: translate(4rem, 0);
  }

  25% {
    transform: translate(30rem, 0);
  }

  50% {
    transform: translate(30rem, -30rem);
  }

  75% {
    transform: translate(0, -30rem);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes animateFb {
  0% {
    transform: translate(0, -4rem);
  }

  25% {
    transform: translate(0rem, -30rem);
  }

  50% {
    transform: translate(-30rem, -30rem);
  }

  75% {
    transform: translate(-30rem, 0rem);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes animateRc {
  0% {
    transform: rotate(60deg);
  }

  25% {
    transform: rotate(120deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
