@keyframes movInLeft {
  0% {
    opacity: 0;
    transform: translateX(-70rem);
  }

  75% {
    opacity: 1;
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-40rem);
  }

  75% {
    opacity: 1;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(40rem);
  }

  75% {
    opacity: 1;
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  75% {
    opacity: 1;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateHt {
  0% {
    transform: translate($min-dist, $min-dist);
  }

  25% {
    transform: translate($min-dist, $med-dist-2);
  }

  50% {
    transform: translate($med-dist, $med-dist-2);
  }

  75% {
    transform: translate($med-dist, $min-dist);
  }
  100% {
    transform: translate($min-dist, $min-dist);
  }
}

@keyframes animateCs {
  0% {
    transform: translate($min-dist, $min-dist);
  }

  25% {
    transform: translate(-$med-dist, $min-dist);
  }

  50% {
    transform: translate(-$med-dist, $med-dist-2);
  }

  75% {
    transform: translate($min-dist, $med-dist-2);
  }
  100% {
    transform: translate($min-dist, $min-dist);
  }
}

@keyframes animateJs {
  0% {
    transform: translate($min-dist, $min-dist);
  }

  25% {
    transform: translate($med-dist, $min-dist);
  }

  50% {
    transform: translate($med-dist, -$med-dist-2);
  }

  75% {
    transform: translate(-$min-dist, -$med-dist-2);
  }
  100% {
    transform: translate($min-dist, $min-dist);
  }
}

@keyframes animateFb {
  0% {
    transform: translate($min-dist, $min-dist);
  }

  25% {
    transform: translate($min-dist, -$med-dist-2);
  }

  50% {
    transform: translate(-$med-dist, -$med-dist-2);
  }

  75% {
    transform: translate(-$med-dist, $min-dist);
  }
  100% {
    transform: translate($min-dist, $min-dist);
  }
}

@keyframes animateRc {
  0% {
    transform: rotate(60deg);
  }

  25% {
    transform: rotate(120deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include respond(tab-land) {
  @keyframes animateHt {
    0% {
      transform: translate($min-dist-tab-land, $min-dist-tab-land);
    }

    25% {
      transform: translate($min-dist-tab-land, $med-dist-2-tab-land);
    }

    50% {
      transform: translate($med-dist-tab-land, $med-dist-2-tab-land);
    }

    75% {
      transform: translate($med-dist-tab-land, $min-dist-tab-land);
    }
    100% {
      transform: translate($min-dist-tab-land, $min-dist-tab-land);
    }
  }
}
@include respond(tab-land) {
  @keyframes animateCs {
    0% {
      transform: translate($min-dist-tab-land, $min-dist-tab-land);
    }

    25% {
      transform: translate(-$med-dist-tab-land, $min-dist-tab-land);
    }

    50% {
      transform: translate(-$med-dist-tab-land, $med-dist-2-tab-land);
    }

    75% {
      transform: translate($min-dist-tab-land, $med-dist-2-tab-land);
    }
    100% {
      transform: translate($min-dist-tab-land, $min-dist-tab-land);
    }
  }
}

@include respond(tab-land) {
  @keyframes animateJs {
    0% {
      transform: translate($min-dist-tab-land, $min-dist-tab-land);
    }

    25% {
      transform: translate($med-dist-tab-land, $min-dist-tab-land);
    }

    50% {
      transform: translate($med-dist-tab-land, -$med-dist-2-tab-land);
    }

    75% {
      transform: translate(-$min-dist-tab-land, -$med-dist-2-tab-land);
    }
    100% {
      transform: translate($min-dist-tab-land, $min-dist-tab-land);
    }
  }
}

@include respond(tab-land) {
  @keyframes animateFb {
    0% {
      transform: translate($min-dist-tab-land, $min-dist-tab-land);
    }

    25% {
      transform: translate($min-dist-tab-land, -$med-dist-2-tab-land);
    }

    50% {
      transform: translate(-$med-dist-tab-land, -$med-dist-2-tab-land);
    }

    75% {
      transform: translate(-$med-dist-tab-land, $min-dist-tab-land);
    }
    100% {
      transform: translate($min-dist-tab-land, $min-dist-tab-land);
    }
  }
}

@include respond(tab-port) {
  @keyframes animateHt {
    0% {
      transform: translate($min-dist-tab-port, $min-dist-tab-port);
    }

    25% {
      transform: translate($min-dist-tab-port, $med-dist-2-tab-port);
    }

    50% {
      transform: translate($med-dist-tab-port, $med-dist-2-tab-port);
    }

    75% {
      transform: translate($med-dist-tab-port, $min-dist-tab-port);
    }
    100% {
      transform: translate($min-dist-tab-port, $min-dist-tab-port);
    }
  }
}
@include respond(tab-port) {
  @keyframes animateCs {
    0% {
      transform: translate($min-dist-tab-port, $min-dist-tab-port);
    }

    25% {
      transform: translate(-$med-dist-tab-port, $min-dist-tab-port);
    }

    50% {
      transform: translate(-$med-dist-tab-port, $med-dist-2-tab-port);
    }

    75% {
      transform: translate($min-dist-tab-port, $med-dist-2-tab-port);
    }
    100% {
      transform: translate($min-dist-tab-port, $min-dist-tab-port);
    }
  }
}

@include respond(tab-port) {
  @keyframes animateJs {
    0% {
      transform: translate($min-dist-tab-port, $min-dist-tab-port);
    }

    25% {
      transform: translate($med-dist-tab-port, $min-dist-tab-port);
    }

    50% {
      transform: translate($med-dist-tab-port, -$med-dist-2-tab-port);
    }

    75% {
      transform: translate(-$min-dist-tab-port, -$med-dist-2-tab-port);
    }
    100% {
      transform: translate($min-dist-tab-port, $min-dist-tab-port);
    }
  }
}

@include respond(tab-port) {
  @keyframes animateFb {
    0% {
      transform: translate($min-dist-tab-port, $min-dist-tab-port);
    }

    25% {
      transform: translate($min-dist-tab-port, -$med-dist-2-tab-port);
    }

    50% {
      transform: translate(-$med-dist-tab-port, -$med-dist-2-tab-port);
    }

    75% {
      transform: translate(-$med-dist-tab-port, $min-dist-tab-port);
    }
    100% {
      transform: translate($min-dist-tab-port, $min-dist-tab-port);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
