.u-center-text {
  // the text is inline block element so we use text-align and not margin : auto
  text-align: center;
}

.u-padding-top-small {
  padding-top: 1.5rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
  @include respond(tab-land) {
    margin-bottom: 6rem;
  }
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
  @include respond(tab-land) {
    margin-bottom: 2rem;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
  @include respond(tab-land) {
    margin-bottom: 1rem;
  }
}

.align-center {
  text-align: center;
}
.u-margin-left-small {
  margin-left: 1.5rem;
}
.u-margin-left-medium {
  margin-left: 4.5rem;
  @include respond(tab-land) {
    margin-left: 3.5rem;
  }
}

.u-margin-left-huge {
  margin-left: 10.5rem;
  @include respond(tab-land) {
    margin-left: 8.5rem;
  }
}

.u-relative {
  position: relative;
}

//button

.u-medium-padding {
  padding: 2rem 4rem;
  @include respond(tab-land) {
    padding: 1.5rem 3.5rem;
  }
}

.u-small-padding {
  padding: 0.5rem 5rem;
}

.u-btn-width {
  width: 17rem;
}
