.header {
  position: relative;
  height: 100vh;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      /* note that the hex color inside rgba works only for sass/scss and not for normal css*/
        rgba($color-primary-dark, 0.8)
    ),
    url(/images/side_bg.jpg);

  background-size: cover; /* fits completely*/
  background-position: top;

  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba($color-primary-light, 1),
  //     rgba($color-primary-dark, 0.6)
  //   ),
  //   url(../images/header_bg_2.jpg);
  // background-size: cover;
  // background-position: top;

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    color: $color-white;
    padding: 2rem;
  }
  &__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
    margin: 5rem;
    animation: moveFromTop 2s ease;
    @include respond(tab-port) {
      top: 0.7rem;
      left: 0.7rem;
      margin: 3rem;
    }
    @include respond(phone) {
      top: 0.8rem;
      left: 0.8rem;
      margin: 2rem;
    }
  }
  &__logo {
    height: 10rem;
    @include respond(tab-port) {
      height: 8rem;
    }
    @include respond(phone) {
      height: 5rem;
    }
  }
}
